<%- include('partials/header') %>
<div class="home">
  <h1 id="welcome">أهلا بك في المشاهدة مع الأصدقاء</h1>
  <!-- <div class="jumbotron">
  <h1 class="display-4">Watch Now!</h1>
  <p class="lead">Just click below to create or join a room.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/create" role="button">Create</a>
  <a class="btn btn-primary btn-lg" href="/join" role="button">Join</a>
</div> -->

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 welcome-home">
      <div class="card welcome-card">
        <div class="card-body">
          <h1 id="card-title">سعداء بوجودك معنا</h1>
          <p class="card-text">أضغط في الأسفل للأنضمام أو أنشاء غرفة</p>
          <hr class="my-4" />
          <a href="/create" class="btn btn-primary">أنشاء أو دخول غرفة</a>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<div class="container" style="padding: 5vh;">

  <!--Section: Content-->
  <section class="dark-grey-text">
    <!-- Section heading -->
    <h2 class="text-center font-weight-bold mb-4 pb-2">شاهد مع الأصدقاء</h2>
    <!-- Section description -->
    <p class="text-center lead grey-text mx-auto mb-5">سهل ومجاني وممتع.</p>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-5">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-lg-2 col-md-3 col-2">
            <i class="fas fa-cogs fa-user blue-text fa-2x"></i></div>
          <!-- Grid column -->
          <div class="col-lg-10 col-md-9 col-10">
            <h4 class="font-weight-bold">لاتحتاج تسجيل دخول</h4>
            <p class="grey-text"> لاتحتاج الى تسجيل الدخول للتمتع ومشاهدة الفيديوات مع الأصدقاء </p>
          </div>
        </div>

      </div>
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-5">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-2 col-md-3 col-2">
            <i class="fas fa-smile-beam pink-text fa-2x"></i>
          </div>

          <!-- Grid column -->
          <div class="col-lg-10 col-md-9 col-10">
            <h4 class="font-weight-bold">سهل الأستخدام</h4>
            <p class="grey-text">بكل بساطة تستطيع الأنضمام الى غرف الأصدقاء والمشاهدة والدردشة معهم في نفس الوقت.</p>
          </div>

        </div>

      </div>

      <div class="col-md-4">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-lg-2 col-md-3 col-2">
            <i class="fas fa-tachometer-alt purple-text fa-2x"></i>
          </div>
          <!-- Grid column -->
      <div class="col-lg-10 col-md-9 col-10">
            <h4 class="font-weight-bold">دائم التطوير</h4>
            <p class="grey-text">سيتم تطوير الخدمات دائما لتناسب المستخدم وتعطي أفضل تجربة.</p>
          </div>  
        </div>
      </div>
    </div>
  </section>
</div>
  <div class="call-to-action">
    <a href="/create" class="btn btn-primary">شاهد الأن!</a>
  </div>

<!-- <div class="info"></div> -->
<%- include('partials/footer') %>
